body {
    font-family: "sans-serif";
    margin : 0;
  }

li {
  list-style: none;
  float: right;
  padding: 33px 20px;
}

.header {
  background-color: blue;
  color: blanchedalmond;
  height: 90px;
  top: 0;
}
.header-list {
    font-size: 10px;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding: 0px 20px 33px 0px;
}
.logo {
    width: auto;
    height: auto;
}
.login {
  float: right;
}
.judul-tentang{
padding-top: 60px;
  color: #5f5d60;
  padding-left:30%;
}
.judul-tentang h1{
  color: #1f36c7;
  font-size: 40px;
}
.materi-tentang{
  padding-left:30%;
  padding-right: 30%;
  text-align: justify;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 20px 30px;
}

.row {
    background-color: aliceblue;
}

h2 {
    color: #005eff;
    font-size: xx-large;
}

p {
    color: gray;
    font-size: larger;
}

.icon {
    color: purple;
    font-size: 35px;
}

i {
    margin: 0px 15px;
}

button {
    background-color: #8fffff;
    color: purple;
    border: none;
    font-size: medium;
    font-weight: bold;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
}

.footer2 {
    font-family: sans-serif;
    background-color: #005eff;
    padding: 40px 30px;
}

.footer2 p {
    color: white;
    font-size: x-large;
}

.footer2 div {
    background-color: #005eff;
    color: white;
    font-size: x-large;
    padding-bottom: 10px;
}

a {
    color: white;
    font-size: large;
    list-style: none;
    float: left;
    margin: 0px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
}

li {
    list-style: none;
}

img {
    width: 100%;
    margin-top: auto;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.link {
    float: left;
    width: 66%;
}

.image {
    float: left;
    width: 34%;
    margin-bottom: 0px;
    margin-top: auto;
    background-size: 30%;
}

@media only screen and (max-width: 768px) {
    .link {
        width: 100%;
    }
    .image {
        width: 0%;
    }
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #005eff;
    padding: 20px;
}

.footer3 {
    background-color: darkblue;
}

span {
    color: white;
}

.topfooter {
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.footer2 div {
    padding-bottom: 20px;
}

.copy-container h3 {
    color: #005eff; 
    font-size: xx-large;
    font-family: "sans-serif";
    margin: 0;
    text-align: center;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.picture {
    display: flex;
    margin: 10px;
    justify-content: center;
    background-color: white; 
}
img {
    width: 400px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    font-size: 18px;
    height: 10px;
    padding-left: 11px;
    color: black;
    font-family: "Segoe UI Symbol";
    text-align: center;
}
.position {
    padding-left: 5px; 
    color: black;
    font-family: "Segoe UI Symbol";
    text-align: center;
}

.main-strategies h3 {
    font-size: 28px;
    font-family: "sans-serif";
    font-weight: bold;
    color: #005eff;
    margin: 0px 0px 19.2px;
    justify-content: center;
}
